{% extends 'base.html.twig' %}

{% block title %}Starshop: Beam up some parts!{% endblock %}

{% block body %}
{#    {% set foo, bar = 'FOO' %}#}
{#    <p>#}
{#        Foo is {{ foo }} and Bar is {{ bar }}.#}
{#    </p>#}
{# HTTP 500 internal server error: #}
{# 'When using set, you must have the same number of variables and assignments. #}
<h1>Starshop: your monopoly-busting option for Starship parts!</h1>

<div>
    Browse through {{ numberOfStarships * 10 }} starships!

    {% if numberOfStarships > 400 %}
        <p>
            {# Do you think "shiploads" will pass the legal team? #}
            That's a shipload of ships!
        </p>
    {% endif %}
</div>

<div>
    <h2>My Ship</h2>

    <table>
        <tr>
            <th>Name</th>
            <td>{{ myShip.name }}</td>
        </tr>
        <tr>
            <th>Class</th>
            <td>{{ myShip.class }}</td>
        </tr>
        <tr>
            <th>Captain</th>
            <td>{{ myShip.captain|upper|lower|title }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ myShip.status }}</td>
        </tr>
    </table>
</div>

    <div>
        <h1>Mon filtre personnalise</h1>
        <p>The price of the holiday in Menorca is: {{ holiday_price|price() }}</p>
        <h1>Ma fonction personnalise</h1>
        <p>The area of the floorplan of the studio flat is {{ area(3.8, 4.85)|round(2, 'floor') }} square metres</p>
        <p>The area of the floorplan rounded up to 1 decimal place is {{ area(3.8, 4.85)|round(1, 'ceil') }} square metres</p>
    </div>

    <div>
        <h1>Mes Dates</h1>
        <p>Today, now is {{ "now"|date("m/d/Y") }}</p>
        <p>3 days ago was {{ "3 days ago"|date("m/d/Y") }}</p>
        <p>Yesterday was {{ "yesterday"|date("m/d/Y") }}</p>
    </div>
{% endblock %}